/* * src/components/Landing/Landing.css */

/* Global Definitions: Site Landing Page */
#site-landing {
    margin-top: 2%;
}

#site-landing h2 {
    margin-bottom: 1vw;
}

#site-landing p {
    margin-top: 0;
}

/* Landing Page: Section 1 */
#landing-intro {
    display: flex;
        justify-content: space-between;
}
#landing-intro img {
    height: 50vh;
}

/* Landing Page: Section 2 */
#landing-twitch {
    display: flex;
        column-gap: 2%;
        flex-direction: row-reverse;
        justify-content: space-between;
}

#landing-twitch iframe {
    height: 33vh;
}
