@media screen and (max-width: 719px) {
    #landing-intro {
        flex-direction: column;
    }
    #landing-intro img {
        height: auto;
    }

    #landing-twitch {
        flex-direction: column-reverse;
    }
    #landing-twitch iframe {
        height: auto;
        margin-bottom: 25px;
    }
}