#site-portfolio a {
    font-weight: 700;
}

#portfolio-tabs {
    border: 2px solid white;
        border-radius: 7px;
    list-style-type: none;
    margin: 2vw auto 0 auto;
    padding-left: 0;
    width: fit-content;
}
#portfolio-tabs li {
    display: inline-block;
}
#portfolio-tabs button {
    backdrop-filter: brightness(60%);
    border-radius: 0;
    cursor: pointer;
}
#portfolio-tabs li.active button {
    color: #f9e2ad;
}

#galaxy-on-fire-header {
    -webkit-text-stroke: 0.25vw black;
    font-family: 'Xirod', sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
}
.galaxy-on-fire-subheader {
    margin-bottom: 0.5vw;
}

#gof-paragraph-1, #gof-paragraph-2 {
    display: inline-flex;
        column-gap: 2vw;
    width: 100%;
}
#gof-paragraph-1 img {
    min-width: 33%;
    max-height: 344px;
}

#gof-paragraph-2 {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
#wiki-logo-discord {
    display: grid;
    grid-template-rows: 25% 75%;
    min-width: 15vw;
}
#wiki-logo-discord * {
    height: 100%;
    width: 100%;
}

#gof-album-grid {
    display: grid;
        grid-template-columns: repeat(3, 15%);
    margin: auto;
}
#gof-album-grid div {
    display: flex;
        align-items: center;
        flex-direction: column;
}
#gof-album-grid img {
    max-width: 90%;
}
#gof-album-grid button, #gof-album-grid a {
    border: 1px solid white;
        border-radius: 0;
    font-size: 1.25vw;
    font-weight: 600;
    margin-top: 0.75vw;
    padding: 0.5vw 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

#tron-header {
    -webkit-text-stroke: 0.25vw black;
    font-family: 'JetBradley', sans-serif;
    margin-bottom: 0;
}
.tron-subheader {
    margin-bottom: 0.5vw;
}

#tron-paragraph-1, #tron-paragraph-2, #tron-paragraph-3 {
    display: inline-flex;
        column-gap: 2vw;
    width: 100%;
}
#tron-paragraph-1 img {
    max-width: 45%;
    min-width: 33%;
}

#tron-paragraph-2 {
    flex-direction: row-reverse;
}
#tron-paragraph-2 img {
    max-width: 25%;
}

#tron-paragraph-3 iframe {
    aspect-ratio: 16 / 9;
    min-width: 40%;
    object-fit: contain;
}

#tron-footer-meme {
    margin-top: 1vw;
    max-width: 100%;
}