/* * src/components/Contact/Contact-m.css */
/* Contact Page Mobile Layout */

@media screen and (max-width: 719px) {
    #site-contact-form {
        row-gap: 2.5vw;
        width: 100%;
    }

    #contact-form-user {
        flex-direction: column;
        row-gap: 1.5vw;
    }
    #contact-form-user * { 
        font-size: 4vw;
        width: 100%; 
    }

    #contact-form-msg * {
        font-size: 3vw;
        height: 20vh;
    }

    #contact-form-submit * {
        font-size: 5vw;
        width: 100%;
    }
}