/* * src/components/Contact/Contact.css */
/* Contact Page Desktop Layout */

#site-contact {
    margin-bottom: 100px;
}

#site-contact-form {
    display: flex;
        flex-direction: column;
        row-gap: 0.5vw;
    margin: auto;
    width: 75%;
}
#site-contact-form div { width: 100%; }

#contact-form-user {
    display: inline-flex;
        column-gap: 0.5vw;
}
#contact-form-user * {
    box-sizing: border-box;
    width: calc(50% - 0.25vw);
}

#contact-form-msg * {
    box-sizing: border-box;
    height: 33vh;
    width: 100%;
}

#contact-form-submit {
    display: flex;
        justify-content: flex-end;
}