@media screen and (max-width: 719px) {
    #site-footer {
        display: block;
    }
    #site-footer p {
        font-size: 3vw;
        text-align: center;
    }

    #site-footer-tech {
        margin: auto;
        max-width: 85%;
    }
    .site-footer__text-icon {
        font-size: 4.5vw;
    }

    #site-footer-wctv {
        margin: auto;
        max-width: 85%;
    }
    #site-footer-socials * {
        font-size: 9vw;
    }
}