/* * src/components/Footer/Footer.css */

/* Global Definitions: Site Footer */
#site-footer {
    background-color: rgba(64, 64, 64, 0.5);
    display: flex;
        justify-content: space-around;
    padding: 1vw;
}

#site-footer p {
    font-size: 1vw;
}

/* Site Footer: Technology Credit */
#site-footer-tech {
    max-width: 40%;
    text-align: center;
}
#site-footer-tech p {
    display: flex;
        align-items: center;
        justify-content: center;
}
.site-footer__text-icon {
    display: inline-flex;
        align-items: center;
    font-size: 1.5vw;
    margin-right: 0.5vw;
}

/* Site Footer: Self-Credit */
#site-footer-wctv {
    display: flex;
        align-items: center;
        flex-direction: column;
    max-width: 40%;
}
#site-footer-socials * {
    font-size: 3vw;
}