/* Font: Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Font: Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Global Site Element Definitions */
a { 
    color: unset;
    font-size: 2vw;
    text-decoration: none;
}
a:disabled { opacity: 0.5; }
a:hover { color: #f9e2ad; }

body {
    background-color: #181a1b;
    color: #e8e6e3;
    font-family: "Montserrat", serif;
    margin: 0;
    paint-order: stroke fill;
}

button {
    background: none;
    border: 2px solid white;
        border-radius: 5px;
    color: #e8e6e3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75vw;
    font-weight: 600;
    padding: 0.35vw 0.75vw;
}

h1, h2, h3, h4, h5, h6 { -webkit-text-stroke: medium black; }
h1, h2, h3 { font-weight: 800; }

h1 {
    font-size: 3.5vw;
}
h2 {
    font-size: clamp(28pt, 6.67vh, 56pt);
}

input {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid lightgray;
        border-radius: 5px;
    color: white;
    font-family: 'Lato', serif;
    font-size: 1.5vw;
    padding: 5px;
}

main {
    margin: auto;
    width: 85%;
}

p {
    font-size: 1.5vw;
}

textarea {
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid lightgray;
        border-radius: 5px;
    color: white;
    font-family: 'Lato', serif;
    font-size: 1.25vw;
    padding: 5px;
    resize: none;
}