/* * src/index-m.css */

/* Mobile Global Site Element Definitions */
@media screen and (max-width: 719px) {
    body {
        background-position: center;
    }

    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 7.5vw;
    }
    h3 {
        font-size: 7vw;
    }

    p {
        font-size: 4vw;
    }
}